body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.image {
  flex: 2;
  background-color: #f0f0f0;
}

.quiz-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.answers {
  margin-top: 20px;
}

.answers button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
